// Cartilage Support ---------------------------------------------------------

@import "cartilage/mixins";
@import "cartilage/variables";


.todos-view {
  .standard-section {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;

    div {
      padding: 0px;
    }

    .list-view {
      ul {
        li {
          height: 50px;
          min-height: 0;
          &.completed {
            opacity: .7;
            .title {
              text-decoration: line-through;
            }
          }
        }
      }
    }

    // leave room for header with 50px;
    .scrollable-section {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 50px;
      left: 0px; 
      overflow-y: auto;
      overflow-x: hidden;
    }

    .context-actions {
      bottom: 0px;
      left: 0px;
      width: 100%;
      position: absolute;
    }

    .section-actions {
      border-top: 0.1em solid #bbb;
      @include gradient-vertical(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.05));
      height: 25px;

      ul {
        margin-left: 0px;
        padding-left: 15px;
        line-height: 25px;

        li:first-child {
          border-left: solid 1px #B8B8B8;
        }
        li {
          border-right: solid 1px #B8B8B8;
          float: left;
          list-style-type: none;
          padding: 0px 10px 0px 10px;
          line-height: 25px;
          cursor: pointer;

          i {
            opacity: .7;
          }
        }
        li.inactive {
          cursor: default;

          i {
            opacity: .3;
          }
        }
      }
    }

     &.with-actions {
        bottom: 25px;
    }
  }
}