
// Cartilage Support ---------------------------------------------------------

@import "cartilage/mixins";
@import "cartilage/variables";

// Overview View -------------------------------------------------------------

.usage-bar-demo-view
{

  > #controls
  {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    height: 32px;
    padding: 0 2em;

    &:after
    {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      border-top: 1px solid rgb(196, 198, 200);
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 1px solid rgb(239, 241, 241);
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }

    input {
      float: right;
    }
  }

  > #page-content {
    top: 96px !important;
  }

  // Usages Section ----------------------------------------------------------
  #hours-elapsed
  {
    #hours-elapsed-usage-bar-view
    {
      position: static;
      margin: 20px;

      .bar-view
      {
        height: 32px;
      }
    }

    footer
    {
      padding: 0 10px 10px 10px;
      font-size: 10px;

      #hours-elapsed-legend-view
      {
        text-align: center;

        ul
        {
          display: inline-block;
          list-style: none;
          margin: 0;
          padding: 0;
          min-height: 24px;

          li
          {
            display: inline-block;
            line-height: 8px;
            margin: 10px;
            width: 160px;
            text-align: left;

            span
            {
              padding: 0px 7px;
              line-height: 3px;
              width: 20px;
              margin-right: 10px;
            }
          }
        }
      }

      p {
        text-align: right;
        font-style: italic;
      }
    }
  }

}