
<div id="page-header">
  <h1>About</h1>
</div>

<div id="page-content">

  <div class="standard-section">
    <header>
      <h1>UI/Widget Toolkit For Backbone.js</h1>
    </header>
    <div>
      <p>
      Welcome to Cartilage! 
    </p>
    <p>
      Cartilage is a UI toolkit for use with Backbone.js and Bootstrap.  It provides a unique set of 
      interactions to help you create a crisp, unique user experience.  It requires Rails 3.1+ and is
      packaged as a Rails Engine for specific use with the asset pipeline.
    </p>
    </div>
  </div>
</div>
