
<div id="new-todo-view-dialog-content">
    <div class="modal-header">
      <a href="javascript:void(0);" class="close">×</a>
      <h3>Create Todo</h3>
    </div>
    <div class="modal-body">
      Todo Item&nbsp;&nbsp;
      <input type="textarea" name="todo" id="todo" placeholder="I need to do something important..." />

    </div>
    <div class="modal-footer">
      <button id="create-todo" class="btn btn-primary">Add Todo</button>
      <a href="javascript:void(0);" class="cancel btn">Done</a>
    </div>
</div>
