<% if (typeof(photos) != 'undefined') { %>
  <h1>Selected <%= photos.length %> photos</h1>
<% } else if (typeof(photo) != 'undefined' && !photo.isNew()) { %>
  <h1><a href="<%= photo ? photo.link : "#" %>"><%= photo ? photo.title : "Name" %></a></h1>
  <h2>Taken on <%= photo ? (new Date(Date.parse(photo.dateTaken))) : "unknown" %></h2>
<% } %>
