<div id="page-header">
  <h1>Todos (Modals/Events)</h1>
</div>

<div id="page-content">
  <div class="standard-section">
  <div id="todos-list" class="scrollable-section with-actions">

  </div>

  <div class="section-actions context-actions">
    <ul>
      <li><a href="javascript:void(0);" id="add-todo"><i class="icon-plus" /></a></li>
      <li><a href="javascript:void(0);" id="remove-todo"><i class="icon-minus" /></a></li>
      <li><a href="javascript:void(0);" id="complete-todo"><i class="icon-ok" /></a></li>
    </ul>
  </div>
</div>
