<div id="page-header">
  <h1>Todos (Modals/Events)</h1>
</div>

<div id="page-content">
  <div class="standard-section">
    <div id="todos-list" class="scrollable-section with-actions">

    </div>

    <div class="section-actions context-actions">
      <ul>
        <li id="add-todo" title="Add todo"><i class="icon-plus"></i></li>
        <li id="remove-todo" class="inactive" title="Delete selected"><i class="icon-minus"></i></li>
        <li id="toggle-todo" class="inactive" title="Toggle selected"><i class="icon-ok"></i></li>
      </ul>
    </div>
  </div>
</div>
