<div class="profile-image">
</div>

<div class="tweet">
  <span class="screen-name">
    <%= tweet.fromUser %>
  </span>
  <div class="text"><%= tweet.text %></div>
  <div class="created-at"><%= tweet.createdAt %></div>
</div>
