<div class="profile-image"> 
</div>

<div class="tweet">
  <span class="screen-name">
    <%= tweet.get('from_user') %>
  </span> 
  <div class="text"><%= tweet.get('text') %></div>
  <div class="created-at"><%= tweet.get('created_at') %></div>
</div>
