
<div id="page-header">
  <h1>GitHub Watchers (UsageBarView)</h1>
</div>

<div id="page-content">
  <div id="repository-watchers" class="usages-section standard-section">
    <header>
      <h2 class="pull-right"><%= repository.watchers %></h2>
      <h1>Current Number Of Watchers For documentcloud/backbone</h1>
    </header>
    <div id="repository-watchers-usage-bar-view">
      <!-- Certified Leads Usage Bar View -->
    </div>
    <footer>
      <div id="repository-watchers-legend-view">
        <ul>
          <li><span class="well" style="background-color: #6ba2d4"></span>0-500</li>
          <li><span class="well" style="background-color: #a765a2"></span>501-1,500</li>
          <li><span class="well" style="background-color: #f69062"></span>1,501-5,000</li>
          <li><span class="well" style="background-color: #8ccc64"></span>5,001-10,000</li>
          <li><span class="well" style="background-color: #c26bb4"></span>10,001-20,000</li>
          <li><span class="well" style="background-color: #e9d243"></span>20,001-25,000</li>
        </ul>
      </div>
    </footer>
  </div>
</div>
